.nav {
    display: flex;
    flex-direction: row;
    width: 100%;
    background-color: #e4e1e1;
    &_img {
        width: 20%;
        height: 200px;
    }
    &-position {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        align-items: flex-start;
        margin-left: 400px;
        margin-top: 100px;
    }
    &_link {
        margin-left: 80px;
        text-decoration: none;
        color: gray;
    }
    &_link:hover {
        color: black;
    }
}